header {
background-color: pink;
color: black;
font-size: 23px;
text-align: center;
}
img{
  width: 50%;
}
.card{
  background: #dda;
  width: 20%;
  border-radius: 2px 2px 2px;
  box-shadow: 2px 2px 2px black;
  text-align: center;
  padding: 1%;
  margin: 1%;
}
.mainDiv{
  display: flex;
  justify-content: space-around;
}
.main{
  display:flex;

}
.leftDiv{
  width: 30%;
  text-align: center;
  background-color: #ddd;
  border: 3px solid #fff000;
  box-shadow: 00000;
}
.rightDiv{
  margin: 1%;
  border-radius: 2px 2px 2px 2px;
  background: #dda;
  box-shadow: 2px 2px 2px black;
  border: 2px solid #AF7AC5;
}
/*mobile view*/
@media screen and (min-width:320px) and (max-width:480px){
  .mainDiv,.main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .card{
    width: 90%;
  }
  .leftDiv{
    width: 90%;
  }
  .rightDiv{
    width: 90%;
  }
}
/*tab view*/
@media screen and (min-width:320px) and (max-width:480px){
  .mainDiv{
    display: flex;
    flex-wrap: wrap;
  }
  .card{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
}
